---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { getCollection } from "astro:content";
import Blog from "@components/Blog.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const title = "Blog | Kevin Zuniga Cuellar";
const description =
  "In the dynamic world of software development, mastering key practices is essential to ensuring high-quality deliverables and driving impactful outcomes. In this blog, we delve into the professional approach to crucial aspects of software development that shape the foundation of our work.";
---

<Layout title={title} description={description}>
  <Header title="Blog" />
  <p class="max-w-prose mb-10 font-normal leading-relaxed">
    {description}
  </p>
  <ul class="grid grid-cols-1 gap-10 sm:border-l sm:dark:border-zinc-800">
    {posts.map((p) => <Blog {...p} />)}
  </ul>
</Layout>
